
.topbutton {
            /* background-color: Transparent; */
            background-repeat:no-repeat;
            cursor:pointer;
            overflow: hidden;
	    padding-top: 1vh;
	    padding-bottom: 1vh;
	    font-size: 8vmin;
         }

.jtbutton {
            background-color: Transparent;
            background-repeat:no-repeat;
            cursor:pointer;
            overflow: hidden;
            padding: 0.75vh 1vw 0.75vh 1vw;
	    z-index: 100;
	  	font-size: 8vh;
         }

.jumbotron {
	text-align: left;
	color: white;
	opacity: 0.99;
	overflow: hidden;
	padding: 0 0 0 0 ;
	padding-bottom: 5vh;
}

form h2 {
  padding-top: 6vh;
}

.jumbotron h1 {
	font-size: 8vh;
	font-weight: 700;
	text-shadow: 0.2vw 0.2vw blue;
	padding-top: 22vh;
	padding-bottom: 5vh;
}

.jumbotron h2 {
	font-size: 5vh;
	font-style: italic;
	text-transform: capitalize;
	text-shadow: 0.2vw 0.2vw blue;
	padding-bottom: 5vh;

}

.jumbotron img {
	width: 27vw;
	height: 18vw;
}

.jumbotron p a {
 color: white;
text-shadow: 0.2vw 0.2vw blue;
}

.jumbotron h3 {
 font-size: 3.5vh;
 color: white;
 text-shadow: 0.2vh 0.2vh blue;
 padding-bottom: 6vh;
}

.jumbotron a {
	font-size: 2vw;
}

a.topbutton {
 font-size: 3.5vw;	
}

section p {
	font-size: 2.5vh;
}

section p.text-muted {
  color: black; 
}

p.text-muted {
 color: black;
}

section {
/*	padding: 0 0 30px 0; */
	padding: 5vw 5vw 5vw 5vw;
}

section.bg-blue {
	color: #fff;
	background-color: #337ab7;	
}

section.bg-blue p.text-muted {
	color: #fff;
}

section h1 {
	padding-top: 10vh;
	font-size: 4vw;
	font-weight: 700;
}

h1 {
 padding-top: 5vw;
}

section .large-icon {
	font-size: 5vw;
}

.video-container {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.video-player {
	position: relative;
	top: 0%;
	left: 0%;
	height: auto;
	width: auto;
	overflow: hidden;
	z-index: 1;
}

.text-container {
	position: relative;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	z-index: 1;
}

video {
	position: relative;
    z-index: -1;
	opacity: 0.95;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	overflow: hidden;
}

video .player {
	position: relative;
    z-index: -1;
	opacity: 0.95;
	width: 30vw;
	height: 30vh;
	overflow: hidden;	
}


